/* {border: solid red; }*/

body {
    font-family: "Roboto", Arial, sans-serif;
    
}
/*First Section*/

.flex-container {
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    padding: 90px;
}

.intro {
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
}

.intro p {
    font-family: 'Roboto', arial;
    opacity: 0.7;
}

.intro h3 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0;
    font-family: 'Roboto', arial;
}

.sign-up {
    display: block;
    text-align: center;
    width: 110px;
    border: none;
    background: #3882f6;
    padding: 5px;
    border-radius: 4px;
    color: #fff;
    font-family: 'Roboto', arial;
    text-decoration: none;
    font-weight: bold;
}

.pillow-1 img {
    width: 400px;
    height: 215px;
}

/*Second Section*/

h4 {
font-size: 36px;
text-align: center;
font-weight: 900;
color: #1F2937;
}

.flex-container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white; 
}

/*All images in Second Section*/

.image-1 img,.image-2 img, .image-3 img, .image-4 img {
    width: 100px;
    Height: 100px;
    align-self: center;
}


.image-1,.image-2,.image-3, .image-4 {
    flex-basis: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.image-1 p, .image-2 p, .image-3 p, .image-4 p {
   font-size: 12px;
   opacity: .7;
}

/*Third Section*/

.flex-container-3 {
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
    padding: 70px;
}

.quote {
    flex-basis: auto;
    display: flex;
    flex-direction: column;
    column-gap: 0px;
    text-align: left;
}

.quote p {
    font-size: 24px;
    font-style: italic;
    color: #1F2937;
    margin: 0;
}
.quoter {
    color: #1F2937;
    align-self: flex-end;
    align-content: flex-start;
    margin-top: 0px;             /*Margin Editor*/
}

/*Last Section*/

.flex-container-4 {
    display: flex;
    color: #F9FAF8;
    background-color: #3882f6;
    align-items: center;
    justify-content: space-around;
    margin-right: 85px;
    margin-left: 85px;
    margin-top: 70px;
    margin-bottom: 50px;
    border-radius: 20px; 
    padding: 20px; 
   
  }
  
  .outro {
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    text-align: center; /* Align text in the center */
    margin-right: 30px;
  }
  
  .outro p {
    font-family: 'Roboto', arial;
    opacity: 0.7;
    margin-top: 0px;
  }
  
  .outro h3 {
    font-size: 12px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0;
    font-family: 'Roboto', arial;
  }
  
  .sign-up-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    border: 1px solid white;
    background: #3882f6;
    padding: 5px;
    border-radius: 4px;
    color: #fff;
    font-family: 'Roboto', arial;
    text-decoration: none;
    font-weight: bold;
    margin: auto; 
  }